body{
    background: url("bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    overflow: hidden;
    font-family:sans-serif ;
}

h1{
    display: inline-block;
    background-color: aliceblue;
    padding: 5px;
    opacity: 0.7;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
}
.clock{
    display: flex;
}

.clock div{
    margin: 10px;
}
.clock span{
    color: aliceblue;
    background-color:rgb(106, 123, 250);
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgb(2, 253, 107);
    opacity: 0.7;
    border-radius: 10px 10px 0 0;
    
}
.clock .text{
    background-color: blue;
    height: 30px;
    text-transform: uppercase;
    padding: 0px;
    opacity: .7;
    font-size: 1rem;
    border-radius: 0px 0px 10px 10px;
}
.clock #ampm{
    
    bottom:238px;
    position: absolute;
    font-size: 0.8rem;
    opacity: 0.7;
    width: 40px;
    height: auto;
    background-color: green;
    border-radius: 10px;
}
#day{
    text-transform: uppercase;
    opacity: 0.7;
    background-color: yellow;
    margin-top: 0px;
    height: 20px;
    width: 90px;
    
    justify-content: center;
    text-align: center;
    padding-top:4px;
    border-radius: 5px;
}
